<form [formGroup]="jobForm" (submit)="jobForm.valid && saveJob()" class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="jobDetail.JobName" required formControlName="jobName" placeholder="Job Name">
    <mat-error *ngIf="jobForm.controls['jobName'].hasError('required')">Please enter job name</mat-error>
    <mat-error *ngIf="jobForm.controls['jobName'].hasError('maxlength')">Job name shouldn't be greater than 50 characters</mat-error>
    <mat-error *ngIf="jobForm.controls['jobName'].hasError('jobExists')">This job name is already taken!</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput [(ngModel)]="jobDetail.Description" formControlName="description" placeholder="Description"></textarea>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-select [(ngModel)]="jobDetail.CategoryId" placeholder="Category" formControlName="category" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category.Id">
        {{category.CategoryName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="jobForm.controls['category'].hasError('required')">Please choose the category</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="jobDetail.SupervisorEmail" matInput required formControlName="supervisorEmail" placeholder="Supervisor Email">
    <mat-error *ngIf="jobForm.controls['supervisorEmail'].hasError('required')">Please enter Supervisor Email</mat-error>
    <mat-error *ngIf="jobForm.controls['supervisorEmail'].hasError('email')">Please enter valid Email address</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]="jobDetail.SupervisorName" matInput required formControlName="supervisorName" placeholder="Supervisor Name">
    <mat-error *ngIf="jobForm.controls['supervisorName'].hasError('maxlength')">Supevisor name should'nt be greater than 50 characters</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!jobForm.valid">Submit</button>
</form>