<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>

  <div *ngIf="jobDetail" class="example-container">

    <mat-label>
      {{jobDetail.Id}}
    </mat-label>
    <br>
    <mat-label>
      {{jobDetail.JobName}}
    </mat-label>
    <br>
    <mat-label>
      {{jobDetail.Category.CategoryName}}
    </mat-label>
    <br>
    <mat-label>
      {{jobDetail.SupervisorName}}
    </mat-label>
    <br>
    <mat-form-field>
      <mat-select [(ngModel)]="jobDetail.Status">
        <mat-option *ngFor="let status of statusList" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Close</button>
  <button mat-button (click)="updateStatus()">Save</button>

</mat-dialog-actions>